doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="style.css")
    title Acme Photography
  body
    main
      #landing
        #landing-text
          #landing-text-inner
            h1 Acme Photography
            h2 Beautiful Natural Photography
            a.btn#view-work(href="#images") View Work
        #landing-image
      #images
        #header
          h2 Our Work
        img(src="asset/image/img1.jpg", alt="")
        .caption
          h3 Photo One
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, rem?
        img(src="asset/image/img2.jpg", alt="")
        .caption
          h3 Photo Two
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, rem?
        img(src="asset/image/img3.jpg", alt="")
        .caption
          h3 Photo Three
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, rem?
        img(src="asset/image/img4.jpg", alt="")
        .caption
          h3 Photo Four
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, rem?
        img(src="asset/image/img5.jpg", alt="")
        .caption
          h3 Photo Five
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, rem?
    footer
      h3 Get In Touch
      p Email or call us to set up a consult
      p Email: #[strong contact@acmephotos.test]
      p Phone: #[strong (555) 555-555]
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src="asset/js/main.js")